name: hello_ci_cd

on: 
  pull_request: 
    branches: main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Run echo.
        run: |
         echo "hello ci/cd"
